.comics-block {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;

  padding: 100px 10px;
}

.comics-card {
  margin: 0 auto;
  border: red 2px solid;
  width: 20%;

  min-width: 156px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(211, 211, 211);
  border-radius: 6px;
}

.comics-card:hover {
  margin-top: -5px;
}

.comics-card img {
  width: 100%;
  aspect-ratio: 4/3.5;
  border-radius: 2px;
  border: red solid 2px;
}

.comics-card .description {
  height: 125px;
  width: 100%;
  overflow-y: scroll;

  text-align: justify;
  background-color: rgb(211, 211, 211);
  padding: 8px;
}

.comics-card .description::-webkit-scrollbar {
  display: none;
}

.comics-card h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  color: black;
  text-align: center;
}

.comics-card button {
  background-color: rgba(255, 0, 0, 0.742);
  color: white;
  height: 40px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

.comics-card button:hover {
  background-color: red;
  cursor: pointer;
}
