.fav-block {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  padding: 10px;
}

.fav-card {
  margin: 0 auto;
  border: red 2px solid;
  width: 254px;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(211, 211, 211);
  border-radius: 6px;
}

.fav-card img {
  width: 100%;
  height: 260px;
  border-radius: 2px;
  border: red solid 2px;
}

.fav-card .description {
  height: 125px;
  width: 100%;
  overflow-y: scroll;
  text-align: justify;
  background-color: rgb(211, 211, 211);
  padding: 8px;
  margin-bottom: 5px;

  border-radius: 2px;
}

.fav-card .description::-webkit-scrollbar {
  display: none;
}

.fav-card h2 {
  font-size: 18px;
  font-weight: bold;

  padding: 10px;
  color: black;
  text-align: center;
  background-color: rgb(211, 211, 211);

  /* border-radius: 10px; */
}
.fav-card button {
  background-color: rgba(255, 0, 0, 0.742);
  color: white;
  height: 40px;
  border: none;
  font-size: 16px;
  font-weight: bold;
}

.fav-card button:hover {
  cursor: pointer;
  background-color: red;
}

.fav-card button:active {
  background-color: rgba(255, 0, 0, 0.59);
}
