.header-block {
  margin: 0px 20px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  background-color: inherit;

  flex-wrap: wrap;
}
.header-block div:first-child {
  margin-right: 5px;
}

.navigation ul {
  margin-left: 90px;

  width: 650px;
  display: flex;
  justify-content: space-around;
}

.navigation ul li {
  border: 2px red solid;
  width: 186px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background-color: rgba(147, 117, 117, 0.505);
  position: relative;
  transition: 0.3s ease-in-out;
}

.navigation li a {
  color: white;
}

.navigation li:hover {
  cursor: pointer;
  background-color: red;
}

.navigation li.active::after {
  content: "";
  width: 30%;

  height: 4px;
  background: rgb(201, 201, 225);
  position: absolute;
  bottom: -6px;
  left: 0px;
}
.header-block img {
  width: 200px;
  height: 60px;
}

.authent-block {
  width: 300px;

  display: flex;
  gap: 20px;
}

.authent-block a {
  color: white;
}

.authent-block button {
  border: 2px red solid;
  width: 300px;
  color: white;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background-color: rgba(128, 128, 128, 0.711);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  font-size: 16px;
}

.authent-block button:hover {
  cursor: pointer;
}

.to-authent-block {
  width: 300px;

  display: flex;
  gap: 20px;
}

.to-authent-block div {
  border: 2px red solid;
  width: 300px;
  color: white;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background-color: rgba(128, 128, 128, 0.711);
}

.to-authent-block a {
  color: white;
}

@media screen and (max-width: 1160px) {
  .navigation ul {
    width: fit-content;
    gap: 5px;
  }
  .navigation ul li {
    width: 100px;
    transition: 0.3s;
  }

  .authent-block button {
    width: 150px;
  }
}

@media screen and (max-width: 890px) {
  .authent-block {
    display: flex;
    justify-content: center;
  }
  .navigation ul {
    display: none;
  }

  .authent-block button {
    width: 100px;
  }

  .to-authent-block {
    display: none;
  }
}
