.hero-comics-card h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  color: black;
}

.hero-comics-card p {
  color: black;
}

.crsl {
  width: 400px;
  margin: auto;
}

.title-desc {
  background-color: white;
  padding: 10px;
}
