.hero-block {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  padding: 25px 10px;
}

.hero-card {
  margin: 0 auto;
  border: 2px red solid;
  width: 20%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 6px;
  background-color: rgb(211, 211, 211);
  max-height: 500px;
}

.hero-card:hover {
  margin-top: -5px;
}
.hero-card img {
  width: 100%;
  aspect-ratio: 3.5/3.5;
  border-radius: 2px;
  border: red solid 2px;
}

.hero-card .description {
  width: 100%;
  height: 120px;
  overflow: scroll;
  text-align: justify;
  background-color: rgb(211, 211, 211);
  padding: 8px;
}

.hero-card h2 {
  margin-top: 8px;
  font-size: 18px;
  font-weight: bold;
  color: black;
  text-align: center;
}

.hero-card button {
  background-color: rgba(255, 0, 0, 0.742);
  color: white;
  height: 40px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  width: 100%;
}

.hero-card button:hover {
  background-color: red;
  cursor: pointer;
}
.hero-card .description::-webkit-scrollbar {
  display: none;
}
