/* --------------General--------------- */

:root {
  background-color: black;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-image: url("https://wallpaper-house.com/data/out/10/wallpaper2you_427905.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  overflow-x: hidden;
  margin-top: 100px;
}

.container {
  width: calc(100vw - 100px);
  margin: 170px auto;
  height: 800px;
  overflow: scroll;
}

.container::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: black;
}

/* ----------------------Pagination-------------------------- */

.paginate-bloc {
  background-color: rgb(13, 14, 14);
  padding-top: 10px;
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 26px;
  font-size: 1.2rem;
  gap: 5px;
  color: white;
}
.pagination .page-num {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
  color: white;
}

.brpoints {
  color: white;
}

.pagination .page-num:hover {
  background-color: red;
}

.pagination .active {
  background-color: red;
}

.prev-next {
  cursor: pointer;
  padding: 8px 15px;
  background-color: red;
  font-weight: 400;
  border-radius: 3px;
}

@media screen and (max-width: 890px) {
  .page-num {
    display: none;
  }
}

h1 {
  color: white;
  text-align: center;
  font-size: 48px;
  padding: 10px;
  margin: 10px;
}

/* -----------------Responsive-Mobile------------------------ */
@media screen and (max-width: 890px) {
  h1 {
    font-size: 40px;
  }
}
